footer{
    margin-top: 20px;
    padding: 20px;
    text-align:center;
    background-color: rgb(83, 45, 83);
}
footer>i{
      color:white;
      font-size: 20px;
      margin: 5px;
}
footer>i:hover{
    font-size: 30px;
}
footer>label{
    color:white;
    margin: 5px;
}